* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	background: linear-gradient(180deg, #f0f4f8, #d9e2ec);
	;
	height: 100vh;
	display: flex;
	overflow: hidden;
}

aside {
	width: 300px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	/* background-color: #f8f9fa; */
	padding: 10px;
	.logo {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 60px;
		margin-top: 10px;
		margin-bottom: 20px;

		img {
			width: 60px;
		}
	}

	.menu {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		overflow-y: auto;
		padding-bottom: 20px;
		scrollbar-width: none;
		padding: 20px;
		background-color: #ffffff;
		border-radius: 10px;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

		ul {
			list-style: none;

			li {
				margin-bottom: 10px;

				button {
					width: 200px;
					height: 40px;
					border: none;
					border-radius: 5px;
					font-size: 16px;
					cursor: pointer;
					background-color: #007bff;
					color: #fff;
					border: none;
					padding: 10px 15px;
					font-weight: 500;
					transition: background 0.3s, transform 0.2s;

					&:hover {
						background-color: #0056b3;
						transform: scale(1.05);
					}
				}

			}
		}
	}
}



main {
	flex: 1;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.card {
		width: 450px;
		background-color: #fff;
		border-radius: 10px;
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
		transition: transform 0.2s, box-shadow 0.2s;

		&:hover {
			/* transform: translateY(-5px); */
			box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
		}

		.card-header {
			height: 60px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			margin-bottom: 20px;

			#title {
				font-weight: 600;
				color: #000;
				text-align: center;
				margin-top: 20px;
			}

			#formula {
				font-size: 14px;
				font-weight: 400;
			}
		}

		.card-body {
			margin-top: 50px;

			form {
				display: flex;
				flex-direction: column;
				gap: 10px;

				.form-group {
					display: flex;
					flex-direction: column;
					gap: 5px;

					label {
						font-size: 14px;
						font-weight: 600;
					}

					input {
						width: 100%;
						height: 40px;
						border: 1.5px solid #ced4da;
						border-radius: 5px;
						padding: 10px;
						transition: border-color 0.3s;

						&:focus {
							border-color: #007bff;
							outline: none;
						}
					}

					input[type="submit"] {
						width: 100%;
						height: 40px;
						border: none;
						border-radius: 5px;
						background-color: #000;
						color: #fff;
						font-size: 16px;
						cursor: pointer;
						transition: all 300ms ease;
					}

					input[type="submit"]:hover {
						background-color: #fff;
						color: #000;
						border: 1px solid #000;
					}
				}
			}
		}

		.card-footer {
			display: flex;
			justify-content: center;
			align-items: center;

			code {
				font-size: 50px;
				font-weight: 600;
				color: #000;
				margin-top: 20px;
				background-color: #f8f9fa;
				padding: 10px;
				border-radius: 5px;
				box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
			}
		}
	}
}